*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  min-width: 320px;
  background: url("../images/pattern-curve.svg") bottom no-repeat;
  background-size: contain;
}

.slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem;
}

.slider {
  position: relative;
  background: url("../images/pattern-bg.svg") center no-repeat;
  background-size: contain;
  width: 33rem;
  height: 31.5rem;
}

.slider__image1, .slider__image2 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 77.5%;
  height: auto;
  -webkit-box-shadow: 0px 45px 50px -40px rgba(32, 32, 70, 0.5);
          box-shadow: 0px 45px 50px -40px rgba(32, 32, 70, 0.5);
  opacity: 0;
}

.slider__buttons {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 10%;
  right: 50%;
  height: 4rem;
  width: 8rem;
  border: none;
  background: white;
  border-radius: 100vmax;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  overflow: hidden;
}

.slider__buttons button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.slider__buttons button img {
  display: block;
  width: 1rem;
  height: 1.5rem;
}

.slider__buttons button:hover {
  background-color: #babacf;
}

.textbox {
  position: relative;
  min-width: 30rem;
  height: 20rem;
  margin-top: 3rem;
  background: url("../images/pattern-quotes.svg") top no-repeat;
  background-size: 20%;
}

.textbox__area1, .textbox__area2 {
  position: absolute;
  opacity: 0;
}

.textbox__area1--comment, .textbox__area2--comment {
  font-weight: 300;
  font-size: 1.75rem;
  line-height: 2.4rem;
  padding: 2rem 0;
  text-align: center;
}

.textbox__area1--author, .textbox__area1--job, .textbox__area2--author, .textbox__area2--job {
  display: inline-block;
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
}

.textbox__area1--author, .textbox__area2--author {
  font-weight: 700;
  color: #202046;
}

.textbox__area1--job, .textbox__area2--job {
  color: #babacf;
  padding: 0.2rem 0;
}

@media (min-width: 1220px) {
  body {
    background: url("../images/pattern-curve.svg") bottom left no-repeat;
  }
  .slider-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 3rem;
  }
  .slider {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 70rem;
    height: 66rem;
  }
  .slider__buttons {
    bottom: 9%;
    left: 20%;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  .textbox {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    min-width: 64.5rem;
    height: 35rem;
    margin-top: 3.5rem;
    padding-top: 5rem;
    background: url("../images/pattern-quotes.svg") 20% top no-repeat;
    background-size: 20%;
    left: 10%;
    z-index: 1;
  }
  .textbox__area1--comment, .textbox__area2--comment {
    font-size: 3.25rem;
    line-height: 4rem;
    text-align: left;
  }
  .textbox__area1--author, .textbox__area1--job, .textbox__area2--author, .textbox__area2--job {
    display: inline;
    font-size: 2.1rem;
  }
  .textbox__area1--job, .textbox__area2--job {
    padding: 0;
    margin-left: 0.5rem;
  }
}

.fade-in {
  -webkit-animation: fadeIn 1s forwards;
          animation: fadeIn 1s forwards;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */