// VARIABLES PRIMARY
$dark-blue: rgb(32, 32, 70);
$grayish-blue: rgb(186, 186, 207);
$blue: rgba(32, 32, 70, 0.5);

// SITE
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Inter', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	min-width: 320px;
	background: url('../images/pattern-curve.svg') bottom no-repeat;
	background-size: contain;
}

.slider-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 3rem;
}

.slider {
	position: relative;
	background: url('../images/pattern-bg.svg') center no-repeat;
	background-size: contain;
	width: 33rem;
	height: 31.5rem;

	&__image1,
	&__image2 {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		max-width: 77.5%;
		height: auto;
		box-shadow: 0px 45px 50px -40px $blue;
		opacity: 0;
	}

	&__buttons {
		position: absolute;
		display: flex;
		justify-content: center;
		bottom: 10%;
		right: 50%;
		height: 4rem;
		width: 8rem;
		border: none;
		background: white;
		border-radius: 100vmax;
		transform: translate(50%, 50%);
		overflow: hidden;

		button {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			background: none;
			border: none;
			cursor: pointer;
			transition: background-color 0.5s;

			img {
				display: block;
				width: 1rem;
				height: 1.5rem;
			}
		}

		button:hover {
			background-color: $grayish-blue;
		}
	}
}

.textbox {
	position: relative;
	min-width: 30rem;
	height: 20rem;
	margin-top: 3rem;
	background: url('../images/pattern-quotes.svg') top no-repeat;
	background-size: 20%;

	&__area1,
	&__area2 {
		position: absolute;
		opacity: 0;

		&--comment {
			font-weight: 300;
			font-size: 1.75rem;
			line-height: 2.4rem;
			padding: 2rem 0;
			text-align: center;
		}

		&--author,
		&--job {
			display: inline-block;
			width: 100%;
			font-size: 1.5rem;
			text-align: center;
		}

		&--author {
			font-weight: 700;
			color: $dark-blue;
		}

		&--job {
			color: $grayish-blue;
			padding: 0.2rem 0;
		}
	}
}

// MEDIA
@media (min-width: 1220px) {
	body {
		background: url('../images/pattern-curve.svg') bottom left no-repeat;
	}

	.slider-container {
		flex-direction: row;
		margin: 3rem;
	}

	.slider {
		order: 2;
		width: 70rem;
		height: 66rem;

		&__buttons {
			bottom: 9%;
			left: 20%;
			transform: translateY(50%);
		}
	}

	.textbox {
		order: 1;
		min-width: 64.5rem;
		height: 35rem;
		margin-top: 3.5rem;
		padding-top: 5rem;
		background: url('../images/pattern-quotes.svg') 20% top no-repeat;
		background-size: 20%;
		left: 10%;
		z-index: 1;

		&__area1,
		&__area2 {
			&--comment {
				font-size: 3.25rem;
				line-height: 4rem;
				text-align: left;
			}

			&--author,
			&--job {
				display: inline;
				font-size: 2.1rem;
			}

			&--job {
				padding: 0;
				margin-left: 0.5rem;
			}
		}
	}
}

// ANIMATIONS
.fade-in {
	animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
